<div class="content-user-form">
    <h1 class="content-form-heading">Edit User</h1>
    {{#with userEdit}}
    <form class="content-user-form" method="POST" action="/user/{{_id}}/update?_method=PUT">
        <div>
            <label for="user_name">Tên Đăng Nhập</label>
            <input type="text" id="user_name" name="userName" value="{{userName}}">
        </div>
        <div>
            <label for="user_password">Mật Khẩu</label>
            <input type="text" id="user_password" name="password" value="{{password}}">
        </div>
        <div>
            <label for="user_email">Email</label>
            <input type="text" id="user_email" name="email" value="{{email}}">
        </div>
        <button type="submit" class="btn btn-primary">Đăng Ký</button>
    </form>
        {{/with}}
</div>