<div class="content-user-form">
    <h1 class="content-form-heading">Create a new user</h1>
    <form class="content-user-form" method="POST" action="register/stored">
        <div>
             <label for="user_name">Tên Đăng Nhập</label>
            <input type="text" id="user_name" name="userName">
        </div>
        <div>
            <label for="user_password">Mật Khẩu</label>
            <input type="text" id="user_password" name="password">
        </div>
        <div>
            <label for="user_email">Email</label>
            <input type="text" id="user_email" name="email">
        </div>
        <button type="submit" class="btn btn-primary">Đăng Ký</button>
    </form>
</div>